.pt-page-rotateRightSideFirst {
  -webkit-transform-origin: 0% 50%;
  -webkit-animation: rotateRightSideFirst 0.8s both ease-in;
  -moz-transform-origin: 0% 50%;
  -moz-animation: rotateRightSideFirst 0.8s both ease-in;
  transform-origin: 0% 50%;
  animation: rotateRightSideFirst 0.8s both ease-in; }

.pt-page-rotateLeftSideFirst {
  -webkit-transform-origin: 100% 50%;
  -webkit-animation: rotateLeftSideFirst 0.8s both ease-in;
  -moz-transform-origin: 100% 50%;
  -moz-animation: rotateLeftSideFirst 0.8s both ease-in;
  transform-origin: 100% 50%;
  animation: rotateLeftSideFirst 0.8s both ease-in; }

.pt-page-rotateTopSideFirst {
  -webkit-transform-origin: 50% 100%;
  -webkit-animation: rotateTopSideFirst 0.8s both ease-in;
  -moz-transform-origin: 50% 100%;
  -moz-animation: rotateTopSideFirst 0.8s both ease-in;
  transform-origin: 50% 100%;
  animation: rotateTopSideFirst 0.8s both ease-in; }

.pt-page-rotateBottomSideFirst {
  -webkit-transform-origin: 50% 0%;
  -webkit-animation: rotateBottomSideFirst 0.8s both ease-in;
  -moz-transform-origin: 50% 0%;
  -moz-animation: rotateBottomSideFirst 0.8s both ease-in;
  transform-origin: 50% 0%;
  animation: rotateBottomSideFirst 0.8s both ease-in; }

/********************************* keyframes **************************************/
@-webkit-keyframes rotateRightSideFirst {
  40% {
    -webkit-transform: rotateY(15deg);
    opacity: 0.8;
    -webkit-animation-timing-function: ease-out; }

  100% {
    -webkit-transform: scale(0.8) translateZ(-200px);
    opacity: 0; } }

@-moz-keyframes rotateRightSideFirst {
  40% {
    -moz-transform: rotateY(15deg);
    opacity: 0.8;
    -moz-animation-timing-function: ease-out; }

  100% {
    -moz-transform: scale(0.8) translateZ(-200px);
    opacity: 0; } }

@keyframes rotateRightSideFirst {
  40% {
    transform: rotateY(15deg);
    opacity: 0.8;
    animation-timing-function: ease-out; }

  100% {
    transform: scale(0.8) translateZ(-200px);
    opacity: 0; } }

@-webkit-keyframes rotateLeftSideFirst {
  40% {
    -webkit-transform: rotateY(-15deg);
    opacity: 0.8;
    -webkit-animation-timing-function: ease-out; }

  100% {
    -webkit-transform: scale(0.8) translateZ(-200px);
    opacity: 0; } }

@-moz-keyframes rotateLeftSideFirst {
  40% {
    -moz-transform: rotateY(-15deg);
    opacity: 0.8;
    -moz-animation-timing-function: ease-out; }

  100% {
    -moz-transform: scale(0.8) translateZ(-200px);
    opacity: 0; } }

@keyframes rotateLeftSideFirst {
  40% {
    transform: rotateY(-15deg);
    opacity: 0.8;
    animation-timing-function: ease-out; }

  100% {
    transform: scale(0.8) translateZ(-200px);
    opacity: 0; } }

@-webkit-keyframes rotateTopSideFirst {
  40% {
    -webkit-transform: rotateX(15deg);
    opacity: 0.8;
    -webkit-animation-timing-function: ease-out; }

  100% {
    -webkit-transform: scale(0.8) translateZ(-200px);
    opacity: 0; } }

@-moz-keyframes rotateTopSideFirst {
  40% {
    -moz-transform: rotateX(15deg);
    opacity: 0.8;
    -moz-animation-timing-function: ease-out; }

  100% {
    -moz-transform: scale(0.8) translateZ(-200px);
    opacity: 0; } }

@keyframes rotateTopSideFirst {
  40% {
    transform: rotateX(15deg);
    opacity: 0.8;
    animation-timing-function: ease-out; }

  100% {
    transform: scale(0.8) translateZ(-200px);
    opacity: 0; } }

@-webkit-keyframes rotateBottomSideFirst {
  40% {
    -webkit-transform: rotateX(-15deg);
    opacity: 0.8;
    -webkit-animation-timing-function: ease-out; }

  100% {
    -webkit-transform: scale(0.8) translateZ(-200px);
    opacity: 0; } }

@-moz-keyframes rotateBottomSideFirst {
  40% {
    -moz-transform: rotateX(-15deg);
    opacity: 0.8;
    -moz-animation-timing-function: ease-out; }

  100% {
    -moz-transform: scale(0.8) translateZ(-200px);
    opacity: 0; } }

@keyframes rotateBottomSideFirst {
  40% {
    transform: rotateX(-15deg);
    opacity: 0.8;
    animation-timing-function: ease-out; }

  100% {
    transform: scale(0.8) translateZ(-200px);
    opacity: 0; } }

.pt-page-moveToLeft {
  -webkit-animation: moveToLeft 0.6s ease both;
  -moz-animation: moveToLeft 0.6s ease both;
  animation: moveToLeft 0.6s ease both; }

.pt-page-moveFromLeft {
  -webkit-animation: moveFromLeft 0.6s ease both;
  -moz-animation: moveFromLeft 0.6s ease both;
  animation: moveFromLeft 0.6s ease both; }

.pt-page-moveToRight {
  -webkit-animation: moveToRight 0.6s ease both;
  -moz-animation: moveToRight 0.6s ease both;
  animation: moveToRight 0.6s ease both; }

.pt-page-moveFromRight {
  -webkit-animation: moveFromRight 0.6s ease both;
  -moz-animation: moveFromRight 0.6s ease both;
  animation: moveFromRight 0.6s ease both; }

.pt-page-moveToTop {
  -webkit-animation: moveToTop 0.6s ease both;
  -moz-animation: moveToTop 0.6s ease both;
  animation: moveToTop 0.6s ease both; }

.pt-page-moveFromTop {
  -webkit-animation: moveFromTop 0.6s ease both;
  -moz-animation: moveFromTop 0.6s ease both;
  animation: moveFromTop 0.6s ease both; }

.pt-page-moveToBottom {
  -webkit-animation: moveToBottom 0.6s ease both;
  -moz-animation: moveToBottom 0.6s ease both;
  animation: moveToBottom 0.6s ease both; }

.pt-page-moveFromBottom {
  -webkit-animation: moveFromBottom 0.6s ease both;
  -moz-animation: moveFromBottom 0.6s ease both;
  animation: moveFromBottom 0.6s ease both; }

.pt-page-moveToLeftEasing {
  -webkit-animation: moveToLeft 0.7s ease-in-out both;
  -moz-animation: moveToLeft 0.7s ease-in-out both;
  animation: moveToLeft 0.7s ease-in-out both; }

.pt-page-moveToRightEasing {
  -webkit-animation: moveToRight 0.7s ease-in-out both;
  -moz-animation: moveToRight 0.7s ease-in-out both;
  animation: moveToRight 0.7s ease-in-out both; }

.pt-page-moveToTopEasing {
  -webkit-animation: moveToTop 0.7s ease-in-out both;
  -moz-animation: moveToTop 0.7s ease-in-out both;
  animation: moveToTop 0.7s ease-in-out both; }

.pt-page-moveToBottomEasing {
  -webkit-animation: moveToBottom 0.7s ease-in-out both;
  -moz-animation: moveToBottom 0.7s ease-in-out both;
  animation: moveToBottom 0.7s ease-in-out both; }

/********************************* keyframes **************************************/
@-webkit-keyframes moveToLeft {
  to {
    -webkit-transform: translateX(-100%); } }

@-moz-keyframes moveToLeft {
  to {
    -moz-transform: translateX(-100%); } }

@keyframes moveToLeft {
  to {
    transform: translateX(-100%); } }

@-webkit-keyframes moveFromLeft {
  from {
    -webkit-transform: translateX(-100%); } }

@-moz-keyframes moveFromLeft {
  from {
    -moz-transform: translateX(-100%); } }

@keyframes moveFromLeft {
  from {
    transform: translateX(-100%); } }

@-webkit-keyframes moveToRight {
  to {
    -webkit-transform: translateX(100%); } }

@-moz-keyframes moveToRight {
  to {
    -moz-transform: translateX(100%); } }

@keyframes moveToRight {
  to {
    transform: translateX(100%); } }

@-webkit-keyframes moveFromRight {
  from {
    -webkit-transform: translateX(100%); } }

@-moz-keyframes moveFromRight {
  from {
    -moz-transform: translateX(100%); } }

@keyframes moveFromRight {
  from {
    transform: translateX(100%); } }

@-webkit-keyframes moveToTop {
  to {
    -webkit-transform: translateY(-100%); } }

@-moz-keyframes moveToTop {
  to {
    -moz-transform: translateY(-100%); } }

@keyframes moveToTop {
  to {
    transform: translateY(-100%); } }

@-webkit-keyframes moveFromTop {
  from {
    -webkit-transform: translateY(-100%); } }

@-moz-keyframes moveFromTop {
  from {
    -moz-transform: translateY(-100%); } }

@keyframes moveFromTop {
  from {
    transform: translateY(-100%); } }

@-webkit-keyframes moveToBottom {
  to {
    -webkit-transform: translateY(100%); } }

@-moz-keyframes moveToBottom {
  to {
    -moz-transform: translateY(100%); } }

@keyframes moveToBottom {
  to {
    transform: translateY(100%); } }

@-webkit-keyframes moveFromBottom {
  from {
    -webkit-transform: translateY(100%); } }

@-moz-keyframes moveFromBottom {
  from {
    -moz-transform: translateY(100%); } }

@keyframes moveFromBottom {
  from {
    transform: translateY(100%); } }

.pt-page-delay100 {
  -webkit-animation-delay: 0.1s;
  -moz-animation-delay: 0.1s;
  animation-delay: 0.1s; }

.pt-page-delay180 {
  -webkit-animation-delay: 0.18s;
  -moz-animation-delay: 0.18s;
  animation-delay: 0.18s; }

.pt-page-delay200 {
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  animation-delay: 0.2s; }

.pt-page-delay300 {
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  animation-delay: 0.3s; }

.pt-page-delay400 {
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  animation-delay: 0.4s; }

.pt-page-delay500 {
  -webkit-animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  animation-delay: 0.5s; }

.pt-page-delay700 {
  -webkit-animation-delay: 0.7s;
  -moz-animation-delay: 0.7s;
  animation-delay: 0.7s; }

.pt-page-delay1000 {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s; }
