.pt-page-scaleDown {
  -webkit-animation: scaleDown 0.7s ease both;
  -moz-animation: scaleDown 0.7s ease both;
  animation: scaleDown 0.7s ease both; }

.pt-page-scaleUp {
  -webkit-animation: scaleUp 0.7s ease both;
  -moz-animation: scaleUp 0.7s ease both;
  animation: scaleUp 0.7s ease both; }

.pt-page-scaleUpDown {
  -webkit-animation: scaleUpDown 0.5s ease both;
  -moz-animation: scaleUpDown 0.5s ease both;
  animation: scaleUpDown 0.5s ease both; }

.pt-page-scaleDownUp {
  -webkit-animation: scaleDownUp 0.5s ease both;
  -moz-animation: scaleDownUp 0.5s ease both;
  animation: scaleDownUp 0.5s ease both; }

.pt-page-scaleDownCenter {
  -webkit-animation: scaleDownCenter 0.4s ease-in both;
  -moz-animation: scaleDownCenter 0.4s ease-in both;
  animation: scaleDownCenter 0.4s ease-in both; }

.pt-page-scaleUpCenter {
  -webkit-animation: scaleUpCenter 0.4s ease-out both;
  -moz-animation: scaleUpCenter 0.4s ease-out both;
  animation: scaleUpCenter 0.4s ease-out both; }

/********************************* keyframes **************************************/
@-webkit-keyframes scaleDown {
  to {
    opacity: 0;
    -webkit-transform: scale(0.8); } }

@-moz-keyframes scaleDown {
  to {
    opacity: 0;
    -moz-transform: scale(0.8); } }

@keyframes scaleDown {
  to {
    opacity: 0;
    transform: scale(0.8); } }

@-webkit-keyframes scaleUp {
  from {
    opacity: 0;
    -webkit-transform: scale(0.8); } }

@-moz-keyframes scaleUp {
  from {
    opacity: 0;
    -moz-transform: scale(0.8); } }

@keyframes scaleUp {
  from {
    opacity: 0;
    transform: scale(0.8); } }

@-webkit-keyframes scaleUpDown {
  from {
    opacity: 0;
    -webkit-transform: scale(1.2); } }

@-moz-keyframes scaleUpDown {
  from {
    opacity: 0;
    -moz-transform: scale(1.2); } }

@keyframes scaleUpDown {
  from {
    opacity: 0;
    transform: scale(1.2); } }

@-webkit-keyframes scaleDownUp {
  to {
    opacity: 0;
    -webkit-transform: scale(1.2); } }

@-moz-keyframes scaleDownUp {
  to {
    opacity: 0;
    -moz-transform: scale(1.2); } }

@keyframes scaleDownUp {
  to {
    opacity: 0;
    transform: scale(1.2); } }

@-webkit-keyframes scaleDownCenter {
  to {
    opacity: 0;
    -webkit-transform: scale(0.7); } }

@-moz-keyframes scaleDownCenter {
  to {
    opacity: 0;
    -moz-transform: scale(0.7); } }

@keyframes scaleDownCenter {
  to {
    opacity: 0;
    transform: scale(0.7); } }

@-webkit-keyframes scaleUpCenter {
  from {
    opacity: 0;
    -webkit-transform: scale(0.7); } }

@-moz-keyframes scaleUpCenter {
  from {
    opacity: 0;
    -moz-transform: scale(0.7); } }

@keyframes scaleUpCenter {
  from {
    opacity: 0;
    transform: scale(0.7); } }

.pt-page-moveToLeft {
  -webkit-animation: moveToLeft 0.6s ease both;
  -moz-animation: moveToLeft 0.6s ease both;
  animation: moveToLeft 0.6s ease both; }

.pt-page-moveFromLeft {
  -webkit-animation: moveFromLeft 0.6s ease both;
  -moz-animation: moveFromLeft 0.6s ease both;
  animation: moveFromLeft 0.6s ease both; }

.pt-page-moveToRight {
  -webkit-animation: moveToRight 0.6s ease both;
  -moz-animation: moveToRight 0.6s ease both;
  animation: moveToRight 0.6s ease both; }

.pt-page-moveFromRight {
  -webkit-animation: moveFromRight 0.6s ease both;
  -moz-animation: moveFromRight 0.6s ease both;
  animation: moveFromRight 0.6s ease both; }

.pt-page-moveToTop {
  -webkit-animation: moveToTop 0.6s ease both;
  -moz-animation: moveToTop 0.6s ease both;
  animation: moveToTop 0.6s ease both; }

.pt-page-moveFromTop {
  -webkit-animation: moveFromTop 0.6s ease both;
  -moz-animation: moveFromTop 0.6s ease both;
  animation: moveFromTop 0.6s ease both; }

.pt-page-moveToBottom {
  -webkit-animation: moveToBottom 0.6s ease both;
  -moz-animation: moveToBottom 0.6s ease both;
  animation: moveToBottom 0.6s ease both; }

.pt-page-moveFromBottom {
  -webkit-animation: moveFromBottom 0.6s ease both;
  -moz-animation: moveFromBottom 0.6s ease both;
  animation: moveFromBottom 0.6s ease both; }

.pt-page-moveToLeftEasing {
  -webkit-animation: moveToLeft 0.7s ease-in-out both;
  -moz-animation: moveToLeft 0.7s ease-in-out both;
  animation: moveToLeft 0.7s ease-in-out both; }

.pt-page-moveToRightEasing {
  -webkit-animation: moveToRight 0.7s ease-in-out both;
  -moz-animation: moveToRight 0.7s ease-in-out both;
  animation: moveToRight 0.7s ease-in-out both; }

.pt-page-moveToTopEasing {
  -webkit-animation: moveToTop 0.7s ease-in-out both;
  -moz-animation: moveToTop 0.7s ease-in-out both;
  animation: moveToTop 0.7s ease-in-out both; }

.pt-page-moveToBottomEasing {
  -webkit-animation: moveToBottom 0.7s ease-in-out both;
  -moz-animation: moveToBottom 0.7s ease-in-out both;
  animation: moveToBottom 0.7s ease-in-out both; }

/********************************* keyframes **************************************/
@-webkit-keyframes moveToLeft {
  to {
    -webkit-transform: translateX(-100%); } }

@-moz-keyframes moveToLeft {
  to {
    -moz-transform: translateX(-100%); } }

@keyframes moveToLeft {
  to {
    transform: translateX(-100%); } }

@-webkit-keyframes moveFromLeft {
  from {
    -webkit-transform: translateX(-100%); } }

@-moz-keyframes moveFromLeft {
  from {
    -moz-transform: translateX(-100%); } }

@keyframes moveFromLeft {
  from {
    transform: translateX(-100%); } }

@-webkit-keyframes moveToRight {
  to {
    -webkit-transform: translateX(100%); } }

@-moz-keyframes moveToRight {
  to {
    -moz-transform: translateX(100%); } }

@keyframes moveToRight {
  to {
    transform: translateX(100%); } }

@-webkit-keyframes moveFromRight {
  from {
    -webkit-transform: translateX(100%); } }

@-moz-keyframes moveFromRight {
  from {
    -moz-transform: translateX(100%); } }

@keyframes moveFromRight {
  from {
    transform: translateX(100%); } }

@-webkit-keyframes moveToTop {
  to {
    -webkit-transform: translateY(-100%); } }

@-moz-keyframes moveToTop {
  to {
    -moz-transform: translateY(-100%); } }

@keyframes moveToTop {
  to {
    transform: translateY(-100%); } }

@-webkit-keyframes moveFromTop {
  from {
    -webkit-transform: translateY(-100%); } }

@-moz-keyframes moveFromTop {
  from {
    -moz-transform: translateY(-100%); } }

@keyframes moveFromTop {
  from {
    transform: translateY(-100%); } }

@-webkit-keyframes moveToBottom {
  to {
    -webkit-transform: translateY(100%); } }

@-moz-keyframes moveToBottom {
  to {
    -moz-transform: translateY(100%); } }

@keyframes moveToBottom {
  to {
    transform: translateY(100%); } }

@-webkit-keyframes moveFromBottom {
  from {
    -webkit-transform: translateY(100%); } }

@-moz-keyframes moveFromBottom {
  from {
    -moz-transform: translateY(100%); } }

@keyframes moveFromBottom {
  from {
    transform: translateY(100%); } }
